@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    line-height: 135%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.page__container {
    margin: 50px 0 80px;
}

.header__wrap {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.header {
    text-align: center;
    font-size: 60px;
}

.react-tabs__tab {
    font-size: 20px;
}

.react-tabs__tab--selected {
    border-radius: 10px 10px 0 0;
}

.tab-header {
    font-size: 48px;
    text-align: center;
}

.section-header {
    text-align: center;
    font-size: 24px;
}

.admin__container {
    width: 30%;
    margin: 30px 0;
}

.admin-header {
    font-size: 24px;
}

.admin-list__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.admin-input__wrap {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}

.admin-values__wrap {
    height: 300px;
    overflow: scroll;
}

.admin-value__wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &:nth-child(odd) {
        background-color: #eee;
    }
}

.admin-value {
}

.admin-value-remove {
    color: red;
    cursor: pointer;
}

.admin-button {
    background-color: rgba(64, 80, 198, 1);
    color: white;
    &:disabled {
        background-color: lightgray;
        color: gray;
    }
}

.tabs__wrap {
    width: 90%;
    margin: 0 auto;
    ul {
        display: flex;
        justify-content: space-evenly;
    }
}

.button {
    padding: 20px;
    border: solid 2px rgba(64, 80, 198, 0.5);
    border-radius: 0;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #4e4e4e;
    text-transform: capitalize;
    transition: 0.5s all;
    cursor: pointer;
    &:hover {
        background-color: rgba(64, 80, 198, 1);
        color: white;
    }
}

.input-container {
    padding: 30px 0;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-container:not(:last-of-type),
.url__wrap:not(:last-of-type) {
    border-bottom: 2px solid #999;
}

.input__wrap {
    flex: 1;
    margin: 15px;
    min-width: 300px;
}

.input-header {
    margin-bottom: 10px;
    font-weight: bold;
}

.input {
    width: 100%;
    border: solid 1px #cdcdcd;
    background-color: #ffffff;
    padding: 15px;
    min-height: 60px;
    font-size: 16px;
    color: #4a4a4a;
}

.dropdown__wrapper {
    position: relative;
    &::after {
        content: "v";
        height: 10px;
        width: 15px;
        position: absolute;
        right: 0;
        top: 50%;
        line-height: 50%;
        transform: translate(-50%, -50%);
    }
}

.dropdown-list {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.utm-value {
    font-size: 30px;
    color: gray;
    word-break: break-all;
}

.url-heading__wrap {
    align-items: center;
}

.url-heading-search__wrap {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    & button {
        margin-bottom: 15px;
    }
}

.url__wrap {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.url-top__wrap {
    display: flex;
}

.url-bot__wrap {
}
